# fly.toml file generated for tgbotderbl on 2023-03-02T03:21:23Z

app = "tgbotderbl"
kill_signal = "SIGINT"
kill_timeout = 5

[env]

[experimental]
  auto_rollback = true

[[services]]
  [services.concurrency]
    hard_limit = 25
    soft_limit = 20
    type = "connections"

[deploy]
  strategy = "immediate"